[submodule "themes/zola-aurora"]
	path = themes/zola-aurora
	url = https://github.com/vimpostor/zola-aurora.git
[submodule "static/icons/feather"]
	path = static/icons/feather
	url = https://github.com/feathericons/feather.git
